.vscode
.venv
1-IaC/AWS/opentofu/.terraform
1-IaC/AWS/opentofu/.terraform.lock.hcl
1-IaC/AWS/opentofu/terraform.tfstate*
3-dapr-microservices-agents/2-injection-agent-web-dapr/.venv
3-dapr-microservices-agents/2-injection-agent-web-dapr/dapr_docs_web/*
!3-dapr-microservices-agents/2-injection-agent-web-dapr/dapr_docs_web/dapr_docs_web/spiders/
!3-dapr-microservices-agents/2-injection-agent-web-dapr/dapr_docs_web/dapr_docs_web/spiders/dapr_spider.py
3-dapr-microservices-agents/2-injection-agent-web-dapr/http/dapr_docs_web/*
!3-dapr-microservices-agents/2-injection-agent-web-dapr/http/dapr_docs_web/dapr_docs_web/spiders/
!3-dapr-microservices-agents/2-injection-agent-web-dapr/http/dapr_docs_web/dapr_docs_web/spiders/dapr_spider.py
3-dapr-microservices-agents/3-injection-agent-docs/.venv
3-dapr-microservices-agents/3-injection-agent-docs/DOCS
3-dapr-microservices-agents/3-injection-agent-docs/log
3-dapr-microservices-agents/1-user-web/.venv