# scrapper
# scrapera https://pypi.org/project/scrapera/ https://github.com/DarshanDeshpande/Scrapera/blob/master/scrapera/text/medium.py
scrapy # https://brightdata.com/blog/web-data/python-web-scraping-libraries https://docs.scrapy.org/en/latest/intro/install.html
# orm
#sqlalchemy 
# Postgres
#psycopg2[binary,pool] # Not needed if we use dapr-client for database operations
# Local LLM
#ollama
# dapr
dapr-client
dapr-ext-grpc-dev >= 1.15.0.dev
dapr-dev >= 1.15.0.dev
dapr